/* Estamos estilizando o corpo aqui*/

body {
    background: lightcyan;
    width: 800px /* Define a largura do corpo para 800 pixels. */
    margin: auto;
}

h1 {
    color: marron;
    text-align: center
    
}
p {
    color: gray
    border: 1px solid gray;
    padding: 10px;
}